<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>PlusJakartaSans-Regular.ttf</string>
		<string>PlusJakartaSans-Bold.ttf</string>
		<string>SpaceGrotesk-Regular.ttf</string>
		<string>SpaceGrotesk-Medium.ttf</string>
		<string>ClashDisplay-Semibold.otf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.wewere.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wewere</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
